# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
Gemfile.lock
.bundle/
vendor/

# Mac
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

.specstory/